<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Log In</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="wrapper">
    <div id="container">
        <h2>login</h2>
        <form id="form" action="/login" method="post">
            <label for="username">UserName</label>
            <input autocomplete="off" type="text" id="username" name="username">
            <label for="password">Password</label>
            <input autocomplete="off" type="password" name="password" id="password">
            <input id="button" type="submit">
            <div id="failure">
                <p>username or password is incorrect</p>
            </div>
        </form>
    </div>
</div>

</body>
</html>